{% include 'feature-docs.html.twig' %}

<style>
#body .padding {
	padding-bottom: 0rem !important;	
}
</style>

<div class="feature-summary">
	<h4>{{page.title}} Feature Level Matrix </h4>
	{{ page.summary }}
</div>